@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #22254b;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
}
nav.sticky{
    background-color: #373b69;
}

nav .nav-content {
    height: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
}

.search,
.search-button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.search::placeholder {
    color: #7378c5;
}



/* Main */

main {
    padding-top: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    padding-left: 100px;
    padding-right: 100px;
}